$blue-color: hsl(231, 69%, 60%);
$red-color: hsl(0, 94%, 66%); 

* {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}
h2 {
    padding: 20px 0;
    font-weight: 700;
}

ul {
    padding: 0
}
li {
    list-style-type: none;
}
section {
    padding: 80px 5% 0;
}

header { 
    position: relative;
    height: 10%;
}

button {
    box-shadow: 2px 3px 5px 1px #bdbdbd;
    padding: 15px 20px;
    border:none;
    border-radius: 3px;
}
p, h3 {
    font-size: 16px;
    font-weight: 400;
    color: hsl(229, 8%, 60%);
}

.logo {
    position: absolute;
    left: 10%;
    top: 20px;
}
.buttons {
    button:hover {
        background-color: white;
        color: black;
    &:first-child{
        color: $blue-color;
        border: $blue-color 2px solid;
    }
    &:last-child:hover{
        border: lightgrey 2px solid;
    }   
    }
}
.responsive {
    max-width: 100%;
    height: auto;
}
.mobile-nav-container {
    position: relative;
    img {
        position: absolute;
        right: 8%;
        top: 20px
    }
    .mobile-nav {
        display: none;
    }
}
.intro-content{
    padding-top: 10%;
}
.tab-tigger {
    border-bottom: lightgrey 0.5px solid;
    padding: 10px 0;

}
.activeSlide {
    display: inline-flex;
}
.activeTrigger {
    display: block;
    position: relative;
    &:after{
        content: "";
        border-bottom: $red-color 2px solid;
        width: 50%;
        position: absolute;
        left: 0; right: 0; margin: 0 auto;
        bottom: 1px;
    }
}

.features {
    display: none;
    margin-top: 60px;
    // add animation for the slide side to side. 
    p {
        padding: 0 10%;
        line-height: 2;
        text-align: left;
    }
}
.bg::after {
    content:"";
    position: absolute;
    top: 20%;
    right: 0;
    z-index: -5;
    border-bottom-left-radius:  40%;
    background-color: $blue-color;
    width: 300px;
    height: 190px;
}

.faq{
    .faq-trigger {
        width:100%;
    }
    .faq-bottom li {
        padding: 5% 0;
        border-bottom: 0.5px solid lightgrey;
        text-align: left;
        position: relative;
    }
}
.arrow {
    position: absolute;
    right: 0;
}

.arrow-active{
   transform: rotate(180deg); // why does this work only on rotating down but not back up?
   transition: all 600ms;
   top: 25px;
    path {
    fill: $red-color;
   }
}
.faq-text {
    display: none;
    padding: 15px 10px;
    line-height: 2;
}
.active {
    display: block;
}

.blueBtn {
    background-color: $blue-color;
    color: white;
}
.extension-wrapper {
    margin: 50px auto;
}
.extension {
    padding: 30px 0;    
    width: 280px;
    margin: 0 auto;
    box-shadow: 2px 3px 10px 1px #d5dfe4;
    position: relative;
    &:after{
        content: url("./images/bg-dots.svg");
        position: absolute;
        bottom: 90px;
        left: 0;
    }
    button {
        margin-top: 50px;
    }
    img {
        padding: 30px 0;
    }
}

.signup {
    background-color: $blue-color;
    padding: 5% 10%;
    color: white;
    margin-top: 60px;
    .signup-top {
        padding: 30px 0;
    p {
        font-size: 10px;
        color: white;
        letter-spacing: 3px;
    }}
    .input-wrapper {
        display: flex;
        flex-direction: column;
    }
    input {
        height: 28px;
        padding-left: 10px;
        border-radius: 3px;
        border: none;
        margin-bottom: 10px;
    }
    .redBtn{
        background-color: $red-color;
        color: white;
    }
}

.footer-top {
    background-color: hsl(229, 31%, 21%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
        padding: 10px 0;
        color: white;
        text-decoration: none;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 12px;
    }
    svg {
        margin: 0 auto;
        padding: 20px 0;
        g .svgcolor {// why does this work only when the g is next to svg but not nested? 
            fill: white
        }}
}

@media screen and (max-width: 1024px){
    .desktop-nav{
        display: none;
    }
}

@media screen and (min-width: 768px){
header {
    display: flex;
    justify-content: flex-end;
}    
.desktop-nav {
    padding-right: 15%;
    padding-top: 30px;
    a { margin-left: 20px;
        text-decoration: none;
        text-transform: uppercase;
        color: inherit;
    &:hover {
     color: $red-color;   
    }
    &:last-child {
        border: 2px solid $red-color;
        border-radius: 6px;
        padding: 8px 15px;
        &:hover {
            color: $red-color;  
            box-shadow: 2px 2px 5px 1px #bdbdbd;; 
           }}   
}}
section{
    padding: 5% 10% 0;
}
.intro, .extensions-bottom {
    display: flex;
    margin: 0 auto;}
.intro {
    flex-direction: row-reverse;
    justify-content: space-between;
    img { 
        height: 370px;
        width: auto;
        flex-shrink: 2}
    .intro-content{
        text-align: left;
        display: block;
        align-self: center;
        width: 40%;
    }
}
.bg::after {
    content:"";
    position: absolute;
    top: 250px;
    right: 0;
    z-index: -5;
    border-bottom-left-radius:  40%;
    background-color: $blue-color;
    width: 500px;
    height: 350px;
}
.features {
    display: inline-flex;}
.features-items{   
        display: inline-flex; 
        margin: 0 auto;
}
.tab-tigger {
    padding: 20px 30px;
    &:hover {
        color: $red-color;
        cursor: pointer;
    }
}
.extension-wrapper {
    margin: 0 auto; 
}
.chrome {
    margin-top: -50px;
}
.opera {
    margin-top: 50px;
}
.faq-bottom, h3{
    width: 45%;
    margin: 0 auto;
    line-height: 2;
    padding: 2% 0;
}
.input-wrapper {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0 auto;
}

}

