* {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
}

li {
    list-style-type: none;
}
section {
    padding: 15% 10% 0;

}
.responsive {
    width: 100%;
    height: auto;
}
p {
    font-size: 18px;
    font-weight: 400;
    color: hsl(229, 8%, 60%);
    padding: 10% 0; // suree?? 
}
header { 
    position: relative;
    height: 10%;
}

.logo {
    position: absolute;
    left: 2%;
    top: 5%;
}
.faq-text {
    display: none;
}
.active {
    display: block
}

.blueBtn {
    background-color: hsl(231, 69%, 60%);
    color: white;
}

button {
    box-shadow: 2px 3px 5px 1px #bdbdbd;
    padding: 10px 20px;
    border:none;
    border-radius: 3px;
}

.faq-bottom li {
    padding: 2% 0;
}
/*
.extensions {
    display: flex;
    flex-direction: column;
*/
.extension {
    padding: 10% 0;    
    margin: 50px auto;
    width: 280px;
    box-shadow: 2px 3px 10px 1px #d5dfe4;
    position: relative;
    &:after{
        content: url("./images/bg-dots.svg");
        position: absolute;
        bottom: 90px;
        left: 0;
    }
    button {
        margin-top: 50px;

    }
}

.signup-top {
    background-color: hsl(231, 69%, 60%);
}
.footer-top {
    background-color: hsl(229, 31%, 21%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1024px){
    .desktop-nav{
        display: none;
    }
}