* {
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding: 20px 0;
  font-weight: 700;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

section {
  padding: 80px 5% 0;
}

header {
  position: relative;
  height: 10%;
}

button {
  box-shadow: 2px 3px 5px 1px #bdbdbd;
  padding: 15px 20px;
  border: none;
  border-radius: 3px;
}

p, h3 {
  font-size: 16px;
  font-weight: 400;
  color: #9194a1;
}

.buttons button:hover {
  background-color: white;
  color: black;
}
.buttons button:hover:first-child {
  color: #5368df;
  border: #5368df 2px solid;
}
.buttons button:hover:last-child:hover {
  border: lightgrey 2px solid;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.logo {
  position: absolute;
  left: 10%;
  top: 20px;
}

.tab-tigger {
  border-bottom: lightgrey 0.5px solid;
  padding: 10px 0;
}

.activeSlide {
  display: inline-flex;
}

.activeTrigger {
  display: block;
  position: relative;
}
.activeTrigger:after {
  content: "";
  border-bottom: #fa5757 2px solid;
  width: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 1px;
}

.features {
  display: none;
  margin-top: 60px;
}
.features p {
  padding: 0 10%;
  line-height: 2;
  text-align: left;
}

.faq .faq-trigger {
  width: 100%;
}
.faq .faq-bottom li {
  padding: 5% 0;
  border-bottom: 0.5px solid lightgrey;
  text-align: left;
  position: relative;
}
.faq .faq-bottom li:before {
  content: url("./images/icon-arrow.svg");
  position: absolute;
  right: 0;
}

.faq-text {
  display: none;
  padding: 15px 10px;
  line-height: 2;
}

.active {
  display: block;
}

.blueBtn {
  background-color: #5368df;
  color: white;
}

.extension {
  padding: 30px 0;
  margin: 50px auto;
  width: 280px;
  box-shadow: 2px 3px 10px 1px #d5dfe4;
  position: relative;
}
.extension:after {
  content: url("./images/bg-dots.svg");
  position: absolute;
  bottom: 90px;
  left: 0;
}
.extension button {
  margin-top: 50px;
}
.extension img {
  padding: 30px 0;
}

.signup {
  background-color: #5368df;
  padding: 5% 10%;
  color: white;
  margin-top: 60px;
}
.signup .signup-top {
  padding: 30px 0;
}
.signup .signup-top p {
  font-size: 10px;
  color: white;
  letter-spacing: 3px;
}
.signup form {
  display: flex;
  flex-direction: column;
}
.signup input {
  height: 28px;
  padding-left: 10px;
  border-radius: 3px;
  border: none;
  margin-bottom: 10px;
}
.signup .redBtn {
  background-color: #fa5757;
  color: white;
}

.footer-top {
  background-color: #252b46;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-top a {
  padding: 10px 0;
  color: white;
  text-decoration: none;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 12px;
}
.footer-top svg {
  margin: 0 auto;
  padding: 20px 0;
}
.footer-top svg .svgcolor {
  fill: yellow;
}

@media screen and (max-width: 1024px) {
  .desktop-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: flex-end;
  }

  .desktop-nav {
    padding-right: 15%;
    padding-top: 30px;
  }
  .desktop-nav a {
    margin-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
  }
  .desktop-nav a:hover {
    color: #fa5757;
  }
  .desktop-nav a:last-child {
    border: 2px solid #fa5757;
    border-radius: 6px;
    padding: 8px 15px;
  }
  .desktop-nav a:last-child:hover {
    color: #fa5757;
    box-shadow: 2px 2px 5px 1px #bdbdbd;
  }

  section {
    padding: 5% 10% 0;
  }

  .intro, .extensions-bottom {
    display: flex;
    margin: 0 auto;
  }

  .features {
    display: inline-flex;
  }

  .features-items {
    display: inline-flex;
    margin: 0 auto;
  }

  .tab-tigger {
    padding: 20px 30px;
  }
  .tab-tigger:hover {
    color: #fa5757;
    cursor: pointer;
  }

  .intro {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .intro img {
    height: 370px;
    width: auto;
  }
  .intro .intro-content {
    text-align: left;
    display: block;
    align-self: center;
    width: 40%;
  }

  .faq-bottom, h3 {
    width: 45%;
    margin: 0 auto;
    line-height: 2;
    padding: 2% 0;
  }
}

/*# sourceMappingURL=style.css.map */
